In [1]:
#import all necessary libraries

import numpy as np 
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score

In [2]:
#importing the data and dropping the Serial Number column
df = pd.read_excel("Ivy.xlsx")
df = df.drop(["S/N"], axis=1)
df.head()

   AGE  TEST RESULT      DRUG  DOSAGE  RESISTANCE
0   29  mRDT    NEG  Not ACT        0           0
1   21  mRDT    NEG  Not ACT        0           0
2   42  mRDT    POS      ACT        4           0
3   21  mRDT    NEG  Not ACT        0           0
4   60  mRDT    NEG  Not ACT        0           0

In [3]:
#conducting Descriptive Statistics
df.describe()

              AGE      DOSAGE  RESISTANCE
count  500.000000  500.000000  500.000000
mean    30.918000    2.110000    0.316000
std     22.724967    1.811204    0.465379
min      1.000000    0.000000    0.000000
25%     13.750000    0.000000    0.000000
50%     25.000000    3.000000    0.000000
75%     43.000000    4.000000    1.000000
max     95.000000    4.000000    1.000000

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   AGE         500 non-null    int64
 1   TEST        500 non-null    object
 2   RESULT      500 non-null    object
 3   DRUG        500 non-null    object
 4   DOSAGE      500 non-null    int64
 5   RESISTANCE  500 non-null    int64
dtypes: int64(3), object(3)
memory usage: 23.6+ KB

In [4]:
#instantiating the LabelEncoder class to encode all categorical variables
lb = LabelEncoder()

In [5]:
#Encode all categorical variables to numerical
df["RESULT"] = lb.fit_transform(df["RESULT"])
df["DRUG"] = lb.fit_transform(df["DRUG"])
df["TEST"] = lb.fit_transform(df["TEST"])
df

     AGE  TEST  RESULT  DRUG  DOSAGE  RESISTANCE
0     29     2       0     1       0           0
1     21     2       0     1       0           0
2     42     2       1     0       4           0
3     21     2       0     1       0           0
4     60     2       0     1       0           0
..   ...   ...     ...   ...     ...         ...
495    2     0       1     0       1           0
496    2     0       1     0       2           1
497   62     0       1     0       4           1
498   22     2       1     0       4           1
499   66     2       1     0       4           0

[500 rows x 6 columns]

In [8]:
#conducting correlation among all variables
df.corr()

                 AGE      TEST    RESULT      DRUG    DOSAGE  RESISTANCE
AGE         1.000000  0.013933 -0.004503  0.004503  0.169267    0.008519
TEST        0.013933  1.000000 -0.341027  0.341027 -0.301713   -0.128172
RESULT     -0.004503 -0.341027  1.000000 -1.000000  0.928517    0.541197
DRUG        0.004503  0.341027 -1.000000  1.000000 -0.928517   -0.541197
DOSAGE      0.169267 -0.301713  0.928517 -0.928517  1.000000    0.484112
RESISTANCE  0.008519 -0.128172  0.541197 -0.541197  0.484112    1.000000

In [9]:
#defining the Predictors (X) and Response (y) variables
X = df.drop(["RESISTANCE"], axis=1)
y = df["RESISTANCE"]

In [13]:
# scaling the Predictors
scaler = StandardScaler()
X = scaler.fit_transform(X)
X

array([[-0.08448509,  0.42829998, -1.25591385,  1.25591385, -1.16613747],
       [-0.43687337,  0.42829998, -1.25591385,  1.25591385, -1.16613747],
       [ 0.48814586,  0.42829998,  0.79623296, -0.79623296,  1.04454968],
       ...,
       [ 1.36911656, -2.31721271,  0.79623296, -0.79623296,  1.04454968],
       [-0.39282483,  0.42829998,  0.79623296, -0.79623296,  1.04454968],
       [ 1.5453107 ,  0.42829998,  0.79623296, -0.79623296,  1.04454968]])

In [14]:
y

0      0
1      0
2      0
3      0
4      0
      ..
495    0
496    1
497    1
498    1
499    0
Name: RESISTANCE, Length: 500, dtype: int64

In [15]:
# training and splitting the model 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.20, random_state=11)

In [16]:
#instantiating Logistic Regression and fitting the trained model
logistic = LogisticRegression(random_state=11, n_jobs=2)
logistic.fit(X_train, y_train)

LogisticRegression(n_jobs=2, random_state=11)

In [110]:
#building a funtion to return the model report and accuracy
def scoring (model):
    pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, model.predict(X_test))
    conf_m = classification_report(y_test, model.predict(X_test))
    return print(round(accuracy, 4),'\n\n', conf_m)

In [112]:
scoring (logistic)

0.7

               precision    recall  f1-score   support

           0       0.80      0.73      0.76        66
           1       0.55      0.65      0.59        34

    accuracy                           0.70       100
   macro avg       0.68      0.69      0.68       100
weighted avg       0.71      0.70      0.71       100